.btn {
  color: black;
  background-color: orangered;
  border: none;
  border-radius: 10px;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container-big {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 100px rgba(0, 0, 0, 0.5);
}

.container-medium {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 100px rgba(0, 0, 0, 0.5);
}

.container-small {
  max-width: 540px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 5px 100px rgba(0, 0, 0, 0.5);
}

button {
  background-color: #d3c0f9;
  border: none;
  color: #464646;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #a57eeb;
  color: #fff;
}
